# class 2 and 3

In [26]:
print("hello")

hello

### indentations

In [27]:
if 1>2:
    print('hello world')
else:
    print("not applicable")

not applicable

### comments

In [28]:
# put comments here

"""
this is a comment
written in
multiple lines
"""

### variable

In [29]:
x = 5
y = "hello world "

print(x)
print(y)

5
hello world

### types

In [30]:
x_1 = 10  # x is of type int
y_1 = "hello world 2" # y is of type str
print(x_1)

10

### casting

In [31]:
x= str(3)  # x will be '3'
y = int(3.5)  # y will be 3
z = float(3)  # z will be 3.0

print(x, y, z)

3 3 3.0

### get the data type

In [32]:
x = 5
y = "john"
print(type(x))  # Output: <class 'int'>
print(type(y))  # Output: <class 'str'>

<class 'int'>
<class 'str'>

### single and double quotation same

In [33]:
x= "john"
# is same as
x = 'john'

### variable name:

In [34]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"

### assign multiple values

In [35]:
x, y, z = "Orange", "Banana", "Cherry"
print(x, y, z)

Orange Banana Cherry

### one value to multiple value

In [36]:
x = y= z = "Orange"
print(x, y, z)

Orange Orange Orange

### unpack a collection

In [37]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x, y, z)

apple banana cherry

### output from variable

In [38]:
x = "python is qwsome"
print(x)

python is qwsome

In [39]:
x = "python"
y = "is"
z = "awesome"

x = '"