# class 2 and 3

In [13]:
print("hello")

hello

### indentations

In [14]:
if 1>2:
    print('hello world')
else:
    print("not applicable")

not applicable

### comments

In [15]:
# put comments here

"""
this is a comment
written in
multiple lines
"""

### variable

In [16]:
x = 5
y = "hello world "

print(x)
print(y)

5
hello world

### types

In [17]:
x_1 = 10  # x is of type int
y_1 = "hello world 2" # y is of type str
print(x_1)

10

### casting

In [18]:
x= str(3)  # x will be '3'
y = int(3.5)  # y will be 3
z = float(3)  # z will be 3.0

print(x, y, z)

3 3 3.0

### get the data type

In [19]:
x = 5
y = "john"
print(type(x))  # Output: <class 'int'>
print(type(y))  # Output: <class 'str'>

<class 'int'>
<class 'str'>

### single and double quotation same

In [20]:
x= "john"
# is same as
x = 'john'